section#s4
	.text(data-aos="flip-left" data-aos-duration="1500")
		p  	 #[span 達成裝備等級1475]後#[br]
			| 請向#[span 盧特蘭城的席利安​]#[br]
			| 領取#[span 藝術的國度普列采任務。]

		img(src="images/s4Text_deco.png")

		p.small 請完成以下任務，​#[br]
			| 才可開始藝術的國度普列采任務。​ #[br]

		p  	 #[span ．愛迦希亞世界任務_粉碎的鳥籠] #[br]
			| #[span ．愛迦希亞主線任務_命運的呼喚]
