<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="《失落的方舟：LOST ARK》普列采">
    <meta name="description" content="《失落的方舟：LOST ARK》普列采">
    <title>《失落的方舟：LOST ARK》普列采</title>
    <meta property="og:url" content="https://landing.mangot5.com/template/lostark/event/250327_pletze/index.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="《失落的方舟：LOST ARK》普列采">
    <meta property="og:description" content="《失落的方舟：LOST ARK》普列采">
    <meta property="og:image" content="https://landing.mangot5.com/template/lostark/event/250327_pletze/images/fb.jpg">
    <link rel="shortcut icon" href="//landing.mangot5.com/template/happytuk/favicon/lostark.ico">
    <link rel="stylesheet" href="//landing.mangot5.com/template/lostark/event/nav/css/bootstrap4.6.2.min.css">
    <link rel="stylesheet" href="//landing.mangot5.com/template/lostark/event/nav/css/animate_v4.1.1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="//landing.mangot5.com/template/lostark/event/nav/css/app.css">
    <link rel="stylesheet" href="css/app.css">
    <script>
      (function (w, d, s, l, i) {
      	w[l] = w[l] || [];
      	w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
      	var f = d.getElementsByTagName(s)[0],
      		j = d.createElement(s),
      		dl = l != 'dataLayer' ? '&l=' + l : '';
      	j.async = true;
      	j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
      	f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PB58S8');
    </script>
  </head>
  <body>
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PB58S8" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <nav class="nav-top">
      <ul class="nav_logo">
        <li><a href="https://lostark.mangot5.com/lostark/index" target="_blank"> <img src="https://landing.mangot5.com/template/lostark/event/nav/images/nav-logo.png" alt="lostark 失落的方舟"></a></li>
      </ul>
      <ul class="nav_social">
        <li class="nav-item"><a class="nav-item" href="https://lostark.mangot5.com/lostark/index" target="_blank"><img src="images/nav_btn_home.png" alt=""></a></li>
        <li class="nav-item"><a class="nav-item" href="https://www.facebook.com/LOSTARKTW" target="_blank"><img src="https://landing.mangot5.com/template/lostark/event/nav/images/nav_btn_facebook.png" alt=""></a></li>
        <li class="nav-item"><a class="nav-item" href="https://www.youtube.com/channel/UCrKDxgCv2U2oOEQLr-LI9Tw" target="_blank"><img src="https://landing.mangot5.com/template/lostark/event/nav/images/nav_btn_youtube.png" alt=""></a></li>
        <li class="nav-item"><a class="nav-item" href="https://forum.gamer.com.tw/B.php?bsn=27410" target="_blank"><img src="https://landing.mangot5.com/template/lostark/event/nav/images/nav_btn_baha.png" alt=""></a></li>
        <li class="history_list border_b" id="history_list"><a href="javascript:void(0)"> 
            <svg class="bi bi-grid-3x3-gap-fill" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
              <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"></path>
            </svg></a></li>
      </ul>
    </nav>
    <nav class="nav-left">
      <ul class="nav_logo">
        <li><a href="#" target="_blank"> <img src="https://landing.mangot5.com/template/lostark/event/nav/images/nav-logo.png" alt="lostark 失落的方舟"></a></li>
      </ul>
      <div class="nav_version_left" id="nav_version_left"></div>
      <div class="nav_hp">
        <li class="nav_home border_b"><a href="https://lostark.mangot5.com/lostark/index" target="_blank">回首頁</a></li>
      </div>
      <div id="ver_toggler"><span class="span1"></span><span class="span2"></span><span class="span3"></span></div>
    </nav>
    <nav class="nav-right animate__animated animate__fadeIn">
      <ul class="left-content" id="nav_version"></ul>
    </nav>
    <div class="wrap" id="wrap" @vue:mounted="mounted">
      <main id="main">
        <video autoplay="autoplay" muted="true" loop="true" playsinline="true">
          <source src="media/video.mp4" type="video/mp4">
        </video>
        <div class="content" data-aos="fade-down" data-aos-duration="1000">
          <p>為了尋找阿曼的痕跡​​​<br>
            而抵達藝術與浪漫的聖地​
          </p><img class="deco" src="images/mainTitle_deco.png">
          <div class="title"><img src="images/mainTitle.png" ata-aos="fade-in" alt="新大陸 : 普列采" data-aos="zoom-in" data-aos-duration="2000"></div><img id="btn-video" src="images/videoBtn.png" alt="video button">
          <p>過去連接著現在、現在的時間則連接著未來。​​​<br>
            循著那些蛛絲馬跡，​​​<br>
            就能見到你思念的那個人…​​​​<br>
          </p>
        </div>
      </main>
      <div class="modal fade video" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="videoPlayer"></div>
            </div>
          </div>
        </div>
      </div>
      <section id="s1">
        <div class="bg" :class="`bg-${ nowBg }`"></div>
        <div class="title" data-aos="fade-down" data-aos-duration="1000"><img src="images/s1Title.png" alt="普列采大陸介紹"></div>
        <div class="content" data-aos="fade-right" data-aos-duration="1000">
          <div class="contentTitle">
            <h2>偉大藝術品隨處可見的​</h2>
            <h1>藝術與浪漫之都​</h1>
          </div>
          <div class="text">
            <p>普列采位於吉埃娜之海中央，​​​<br>
              從很久以前開始，​
              就是無數文化往來的要道。
            </p>
            <p>但是，在這座和平又美麗的都市外圍，​<br>
              有個小鎮的傷口尚未癒合，至今仍是一片廢墟。​​
            </p>
            <p>這片土地過去究竟發生過什麼事？​​<br>
              我們必須追查阿曼留在昔日痕跡裡的記憶。​
            </p>
          </div>
          <div class="tab">
            <button v-for="i in 3" :class="{'active': i == nowBg}" @click="nowBg = i" :key="'nowBg'+ i"><img :src="`images/s1Tab0${i}.png`" :alt="`普列采大陸介紹`"></button>
          </div>
        </div>
      </section>
      <section id="s2">
        <div class="title" data-aos="fade-down" data-aos-duration="1000"><img src="images/s2Title.png" alt="地區介紹"></div>
        <div class="content" data-aos="fade-up" data-aos-duration="1500">
          <div class="tab">
            <button :class="{'active' : mapIndex &gt;= 0 &amp;&amp; mapIndex &lt;= 2}" @click="mapSwitch(0)">
              <h5>	普列采</h5>
            </button>
            <button :class="{'active' : mapIndex &gt;= 3 &amp;&amp; mapIndex &lt;= 5}" @click="mapSwitch(3)">
              <h5>	弗里希利亞平原</h5>
            </button>
          </div>
          <div class="textWrap">
            <div class="text" v-if="mapIndex &gt;= 0 &amp;&amp; mapIndex &lt;= 2">
              <p>	普列采位於吉埃娜之海中央，是兼容了各種文化的美麗藝術之都。從前，為了復興因鎖鏈戰爭而式微的藝術，​​<br>貝迪契家族以普列采為中心，展開了對藝術家的贊助。普列采便因此成為了現在的藝術與浪漫的聖地。<br></p>
            </div>
            <div class="text" v-if="mapIndex &gt;= 3 &amp;&amp; mapIndex &lt;= 5">
              <p>	位於普列采大陸外圍的肥沃土地。​​生活於此的人們以栽培希利亞莓度日。​​這裡是個和平寧靜的地方，​​<br>只是偶爾會有覬覦普列采藝術品的盜賊出沒。​​​然而，這裡也曾有過某座小村莊付之一炬的悲痛記憶。​​<br></p>
            </div>
          </div>
          <div class="swiper">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/s2Bg1-1.png" alt="普列采"></div>
                <div class="swiper-slide"><img src="images/s2Bg1-2.png" alt="普列采"></div>
                <div class="swiper-slide"><img src="images/s2Bg1-3.png" alt="普列采"></div>
                <div class="swiper-slide"><img src="images/s2Bg2-1.png" alt="弗里希利亞平原"></div>
                <div class="swiper-slide"><img src="images/s2Bg2-2.png" alt="弗里希利亞平原"></div>
                <div class="swiper-slide"><img src="images/s2Bg2-3.png" alt="弗里希利亞平原"></div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div class="swiper-pagination">
            <div class="swiper-pagination-bullet"></div>
          </div>
        </div>
      </section>
      <section id="s3">
        <div class="title" data-aos="fade-down" data-aos-duration="1000"><img src="images/s3Title.png" alt="主要npc介紹"></div>
        <div class="tab" data-aos="fade-up" data-aos-duration="1500">
          <ul>
            <li :class="{ 'active' : npcIndex == 0 }" @click="npcSwitch(0)">亞彭斯．貝迪契​</li>
            <li :class="{ 'active' : npcIndex == 1 }" @click="npcSwitch(1)">洛潔琳．貝迪契​</li>
            <li :class="{ 'active' : npcIndex == 2 }" @click="npcSwitch(2)">克拉烏蒂亞​</li>
            <li :class="{ 'active' : npcIndex == 3 }" @click="npcSwitch(3)">札珂菈</li>
          </ul>
        </div>
        <div class="content" data-aos="fade-up" data-aos-duration="1500">
          <div class="swiper">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="ch"><img src="images/s3Ch01.png"></div>
                  <div class="text">
                    <div class="title"><img src="images/s3Text01.png"></div>
                    <h2>	"復興藝術與文化，​<br>就是我們家族存在的理由。​"​</h2>
                    <p>	贊助藝術家的貝迪契家族大家長。​<br>當阿克拉西亞因為鎖鏈戰爭而崩塌時，​​<br>
                      貝迪契家族再次點燃了藝術之火，是個歷史悠久的家族。​​<br>​<br>
                      身為貝迪契家族的大家長，​<br>
                      亞彭斯同樣熱愛著藝術並贊助著全世界的藝術家。<br>​
                      他曾經贊助過阿曼，​<br>​
                      似乎能從他那裡聽到阿曼度過了怎樣的童年。<br>​
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ch"><img src="images/s3Ch02.png"></div>
                  <div class="text">
                    <div class="title"><img src="images/s3Text02.png"></div>
                    <h2>	"小時候我從阿曼那裡​<br>得到了很大的幫助。<br>​如果你見到阿曼，<br>​請一定要轉告他我想見他。​"</h2>
                    <p>	身為亞彭斯．貝迪契孫女，洛潔琳負責管理藝術品，​​<br>而他也贊助著普列采中才能出眾的藝術家。​​​<br>​<br>
                      童年時身體孱弱的他，​<br>
                      曾待在美麗的村莊「弗里希利亞村」。​​<br>
                      在那裡，他遇見了改變自己命運的少年。​<br>​​<br>
                      隨著時間流逝，找到內心光芒的洛潔琳，​<br>
                      依舊思念著那名少年，阿曼。​​<br>​
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ch"><img src="images/s3Ch03.png"></div>
                  <div class="text">
                    <div class="title"><img src="images/s3Text03.png"></div>
                    <h2>	"黑暗之中也存在著光明…​<br>請賜予我<br>​尋找光明的智慧。​"​</h2>
                    <p>	出生於亞爾特米斯一個小公國的克拉烏蒂亞，​<br>為了傳播光與秩序的教導，​​​<br>
                      從小便踏上了祭司的道路。​​​<br>​<br>
                      成為了一名認真踏實的祭司。​​​<br>
                      而教團也認可他的才能，<br>​
                      將他召喚至首都。​​<br>​<br>
                      但是成為拉薩摩亞大聖堂的祭司後，​<br>​
                      他面對的是教團長久以來隱藏的祕密。​<br>​
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="ch"><img src="images/s3Ch04.png"></div>
                  <div class="text">
                    <div class="title"><img src="images/s3Text04.png"></div>
                    <h2>	"對於追隨命運的人來說，​<br>就算是掠過的風<br>​也都有其意義。"​</h2>
                    <p>	負責在普列采訓練約茲的​​<br>約茲長老札珂菈。​​<br>
                      是位能自由自在地操縱凋零幻影的​​<br>
                      幻影術高手。​​<br>​<br>
                      極度現實卻相信命運的他，​<br>​
                      為在普列采相遇的冒險家指引了方向。​​<br>​<br>
                      能夠延續至渺茫未來的，​<br>​
                      過去的線索…！​<br>​
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </section>
      <section id="s4">
        <div class="text" data-aos="flip-left" data-aos-duration="1500">
          <p> 	 <span>達成裝備等級1475</span>後<br>請向<span>盧特蘭城的席利安​</span><br>
            領取<span>藝術的國度普列采任務。</span>
          </p><img src="images/s4Text_deco.png">
          <p class="small">請完成以下任務，​<br>才可開始藝術的國度普列采任務。​ <br></p>
          <p> 	 <span>．愛迦希亞世界任務_粉碎的鳥籠</span> <br><span>．愛迦希亞主線任務_命運的呼喚</span></p>
        </div>
      </section>
      <aside class="aside">
        <ul> 
          <li :class="{ 'active' : asideNum == 1 }" @click="asideScroll(1)">普列采大陸介紹</li>
          <li :class="{ 'active' : asideNum == 2 }" @click="asideScroll(2)">地區介紹​</li>
          <li :class="{ 'active' : asideNum == 3 }" @click="asideScroll(3)">主要NPC介紹​</li>
          <li id="top"><img src="images/asideTop.png" alt="top" @click="backTop"></li>
        </ul>
      </aside>
    </div>
    <footer id="ft"></footer>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="//landing.mangot5.com/template/lostark/event/nav/js/jquery-3.4.1.min.js"></script>
    <script src="//landing.mangot5.com/template/lostark/event/nav/js/popper.min.js"></script>
    <script src="//landing.mangot5.com/template/lostark/event/nav/js/bootstrap4.min.js"></script>
    <script src="//landing.mangot5.com/template/lostark/event/nav/js/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/app.js" type="module"></script>
    <script>
      (function (d, s, id) {
      	let js,
      		fjs = d.getElementsByTagName(s)[0];
      	if (d.getElementById(id)) return;
      	js = d.createElement(s);
      	js.id = id;
      	js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.10';
      	fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'facebook-jssdk');
    </script>
  </body>
</html>